/* ==========================================================================
   1. Color 
   ========================================================================== */

/* Green */
#color,
#color mark { background-color: #3e3e3e;; }

#color .post-content a,
#color blockquote small,
#color #disqus_thread  a,
#color .header-site > a:hover,
#color .box_rosette .article-list ul li h2 a:hover { color: #3e3e3e;; }

#color .box_rosette .post-excerpt .read-more,
#color #content .post-footer .post-tags li a { color: #3e3e3e;; border-color: #3e3e3e;; }

#color .box_rosette .post-excerpt .read-more:hover,
#color #content .post-footer .post-tags li a:hover { background: #3e3e3e;; }

#color blockquote { border-left: #3e3e3e; 5px solid; }

#color .post-content a { border-bottom: 1px dotted #3e3e3e;; }
#color .post-content a:hover { border-bottom: 1px solid #3e3e3e;; }